<div id="<%= dom_id foodproduct %>">
  <p>
    <strong>Name:</strong>
    <%= foodproduct.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= foodproduct.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= foodproduct.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= foodproduct.category %>
  </p>

</div>
