<div id="<%= dom_id householdproduct %>">
  <p>
    <strong>Name:</strong>
    <%= householdproduct.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= householdproduct.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= householdproduct.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= householdproduct.category %>
  </p>

</div>
