<%= form_with(model: liquor) do |form| %>
  <% if liquor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(liquor.errors.count, "error") %> prohibited this liquor from being saved:</h2>

      <ul>
        <% liquor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>
  
   <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.text_field :category %>
  </div>

   <div>
    <%= form.label :second_image_url, style: "display: block" %>
    <%= form.text_field :second_image_url %>
  </div> 
  

  <div>
    <%= form.submit %>
  </div>
<% end %>
