<div id="<%= dom_id liquor %>">
  <p>
    <strong>Name:</strong>
    <%= liquor.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= liquor.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= liquor.price %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= liquor.image_url %>
  </p>

</div>
