<div id="<%= dom_id vegesproduct %>">
  <p>
    <strong>Name:</strong>
    <%= vegesproduct.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= vegesproduct.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= vegesproduct.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= vegesproduct.category %>
  </p>

</div>
