<div id="<%= dom_id bevaragesproduct %>">
  <p>
    <strong>Name:</strong>
    <%= bevaragesproduct.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= bevaragesproduct.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= bevaragesproduct.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= bevaragesproduct.category %>
  </p>

</div>
