<p style="color: green"><%= notice %></p>

<%= render @newproduct %>

<div>
  <%= link_to "Edit this newproduct", edit_newproduct_path(@newproduct) %> |
  <%= link_to "Back to newproducts", newproducts_path %>

  <%= button_to "Destroy this newproduct", @newproduct, method: :delete %>
</div>
