<div id="<%= dom_id babyproduct %>">
  <p>
    <strong>Name:</strong>
    <%= babyproduct.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= babyproduct.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= babyproduct.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= babyproduct.category %>
  </p>

</div>
