<div id="<%= dom_id cosmeticsproduct %>">
  <p>
    <strong>Name:</strong>
    <%= cosmeticsproduct.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= cosmeticsproduct.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= cosmeticsproduct.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= cosmeticsproduct.category %>
  </p>

</div>
