<div id="<%= dom_id foodyproduct %>">
  <p>
    <strong>Name:</strong>
    <%= foodyproduct.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= foodyproduct.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= foodyproduct.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= foodyproduct.category %>
  </p>

</div>
